.baseLayout {
  height: 100%;
}

.baseContent {
  height: 100%;
  overflow: hidden;
  position: relative;

  &>div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

// .baseContent>div:first-child {
//   height: 100%;
//   width: 100%;
// }