.sider-hide {
  min-width: 0 !important;
  max-width: 0 !important;
  width: 0 !important;
  flex: 0% 0 !important;
  opacity: 0;
}

.trans {
  transition: all .5s ease;
}

.header {
  display: flex;
  align-items: center;

  color: #fff;
}

.header-hide {

  height: 0 !important;
  opacity: 0;
}

.color-f {
  color: #fff;
}

.routeCont {
  height: 100vh;
}