.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  height: 100%;
  .center();
}

.logo {
  width: 600px;
  margin-bottom: 60px;

}

.loginForm {
  width: 300px;
  margin: 0 auto;
}



.loginBtn {
  width: 100%;
  .red();
}